body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
	margin-top: 20px;
        margin:0 auto;
        padding:2em;
	text-align:left;
        line-height: 110%;
}

.coursename {
    margin-bottom: 20px;
    background: lightgray;
}

/* CSS to manage embeded gcal */

.calendar-container {
    margin-top: 20px;
    position: relative;
    padding-bottom: 400px;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Calendar-structure classes */

.calendar {
    counter-reset:session
}

.session {
    margin: 0;
    padding-left: 20px; 
    background:lightgray;
    font-size: large;
    color:black;
}

.session::before {
    counter-increment: session;
    content: "Class " counter(session);
                                      
}
.activity {
    font-weight:bold;
}

.reading{
    
}

/* small-chunk styling classes */

H2 {
    font-size:150%;
}


H3 {
    margin: 1em 0em;
    font-size:120%;
}

H4 {
    margin: 1em 0em;
}

ul {
    padding: 0.2em 0em;
}

ul li {
    margin-left: 35px;
}

.alert {
    color:green;
    font-size: medium;
    margin-left: 20px;
}

strong {
	color:#799131;
}

A:link {
	text-decoration:underline;
	color:#696969;
}

A:active {
	text-decoration:underline;
	color:#696969;
}

A:visited {
	text-decoration:underline;
	color:#696969;
}

code, samp, kbd {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
}
pre code {
    line-height: 1.6em;
    font-size: 11px;
}
pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}
/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto; 
}
* html pre { 
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
}

.exam {
  color:red;
}

.project {
  color:green;
}

#content #pre-stylish code {
	display:block;
	padding:.5em 1em;
	border:1px solid #bebab0;
}

/* paragraph styles */

p {
    margin-top:10px;
}

p:first-child {
    margin-top:0px;
}

